<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 bg-white mb-2 pt-2 pb-2 shadow-box">
			<b>Filtros</b>
		</div>
		<div class="col-sm-12 bg-white pt-2 shadow-box">
			<form action="">
				<div class="form-group">
					<label for="" class="text-primary"><span class="glyphicon glyphicon-search"></span><b>Nombre de hotel</b></label>
					<div class="row">
						<div class="col-sm-8 pr-0">
							<input type="text" class="form-control">							
						</div>
						<div class="col-sm-4">
							<button class="btn btn-primary">Aceptar</button>
						</div>
					</div>
				</div>
			</form>
		</div>	
	</div>
</div>
	
