.shadow-box {
	background-color: #fff;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    margin-bottom:15px;
}

.btn-primary {
	background-color: #0C3D7D !important;
}